<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#最好保留，后期可以直接添加本地的静态文件#}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.14/css/bootstrap-select.min.css">


    <title>添加供应商联系人</title>
</head>
<body>


<div class="container-fluid">

    <br>
    <form action="{% url 'add_contact' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">

            <label for="vendor" class="col-md-4 col-form-label"
                   style="text-align:right">{{ form.vendor_id.label }}：</label>

            <select name="vendor_id" id="vendor" class="selectpicker col-md-4" data-live-search=“true” title="请选择供应商"
                    data-none-results-text="未找到{0}" data-size="7">

                {% for i in form.vendor_id %}

                    {{ i }}

                {% endfor %}
            </select>


            <div class="col-md-4 col-form-label" style="color:red;text-align:left">
                {{ form.vendor_id.errors.0 }}
            </div>

        </div>

        <div class="form-group row">
            <label for="name" class="col-md-4 col-form-label" style="text-align:right">{{ form.name.label }}：</label>
            <div class="col-md-4">
                {{ form.name }}
            </div>
            <div class="col-md-4 col-form-label" style="color:red;text-align:left">
                {{ form.name.errors.0 }}
            </div>
        </div>


        <div class="form-group row">
            <label for="department" class="col-md-4 col-form-label" style="text-align:right">{{ form.department.label }}：</label>
            <div class="col-md-4">
                {{ form.department }}
            </div>
        </div>

        <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.title.label }}：
            </label>
            <div class="col-md-4">
                {{ form.title }}
            </div>
        </div>


        <div class="form-group row">
            <label for="landline" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.landline.label }}：
            </label>
            <div class="col-md-4">
                {{ form.landline }}
            </div>
        </div>

        <div class="form-group row">
            <label for="mobile" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.mobile.label }}：
            </label>
            <div class="col-md-4">
                {{ form.mobile }}
            </div>
        </div>


        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.email.label }}：
            </label>
            <div class="col-md-4">
                {{ form.email }}
            </div>
        </div>


        <div class="form-group row">
            <label for="qq" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.qq.label | upper }}：
            </label>
            <div class="col-md-4">
                {{ form.qq }}
            </div>
        </div>

        <div class="form-group row">
            <label for="wechat" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.wechat.label }}：
            </label>
            <div class="col-md-4">
                {{ form.wechat }}
            </div>
        </div>

        <div class="form-group row">
            <label for="remark" class="col-md-4 col-form-label"
                   style="text-align:right">
                {{ form.remark.label }}：
            </label>
            <div class="col-md-4">
                {{ form.remark }}
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    确认提交
                </button>
            </div>
        </div>
    </form>


</div>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.1/esm/popper.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>
{#jquery.js，popper.js，bootstrap.bundle.js，bootstrap-select.js#}

</body>

</html>