<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#最好保留，后期可以直接添加本地的静态文件#}
    {% load static %}
    {% block css_links %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.7/css/layui.css">
        <script src="https://www.layuicdn.com/layui-v2.5.7/layui.js"></script>
{#        <link rel="stylesheet"#}
        {#              href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">#}
        {#        <link rel="stylesheet"#}
        {#              href="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.14/css/bootstrap-select.min.css">#}
        {#        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
        {#        <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.1/esm/popper.min.js"></script>#}
        {#        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>#}
        {#        <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>#}

    {% endblock %}

    <title>bootstrap测试</title>


</head>
<body>
{% block header %}
    <div class="container-fluid">
        <br>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% block home %} {% endblock %} " href="{% url 'home' %}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block aaa %}  {% endblock %} " href="#">合同信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block bbb %}  {% endblock %} " href="#">保函信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block ccc %}  {% endblock %} " href="#">催交信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block ddd %}  {% endblock %} " href="#">发运信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block eee %}  {% endblock %} " href="#">付款信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">交单信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% block contact %} {% endblock %} " href="{% url 'contact:all' %}">联系人信息(70%)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">更多功能开发中...</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
{% endblock %}


</body>
</html>